<div id="main" class="row">
    <div class="col-md-8">
        <div class="row principal">
            <div class="col-md-3 userlist">
                <ul class="people">
                    <li class="person" ng-show="myTurn && !cardPicked">
                        <input type="button" value="Pick Your Card" ng-click="pickACard()" />
                    </li>
                    <li class="person" ng-show="myTurn && cardPicked">
                        {{card}}
                    </li>
                    <li class="person" ng-show="myTurn && cardPicked && !sessionStarted">
                        <input type="button" value="StartDrawing" ng-click="startDrawing()" />
                    </li>
                    <li class="person" ng-show="cardPicked && sessionStarted">
                        {{time}}
                    </li>

                    <li class="person" ng-repeat="user in users">
                        <a href="#">
                            <img />
                        </a>
                        <div class="content">
                            <h2>{{user.Name}}</h2>
                            <p> {{user.Points}} pts</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 board">
                <div class="row" style="height:508px">
                    <canvas data-board data-started="sessionStarted" data-your-turn="myTurn" data-card-picked="cardPicked" data-settings="settings" data-lines="lines" id="canvas" width="567" height="443"></canvas>
                </div>
                <div class="row menu">
                    <ul class="toolbar">
                        <li data-toggle="tooltip" data-placement="right" data-original-title="draw" class="sprite draw" ng-click="setDrawDot"></li>
                        <li data-toggle="tooltip" data-placement="right" data-original-title="line" class="sprite line" ng-click="setDrawLine()"></li>
                        <li data-toggle="tooltip" data-placement="right" data-original-title="trash" class="sprite trash" ng-click="cleanCanvas()"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chatContainer">
        <div class="chatbox" data-chat-directive data-messages="chat">
            <ul>
                <li ng-repeat="message in chat">
                    <p>From: <span class="from">{{message.from}}</span> <span class="date">{{message.date | date:'mediumDate'}}</span></p>
                    <p>{{message.text}}</p>
                </li>
            </ul>
        </div>

        <form name="message" class="messageForm" ng-submit="sendMessage()">
            <input name="msg" type="text" id="msg" class="msg" ng-model="text" />
            <input name="send" type="submit" id="send" class="send" value="Send" />
        </form>
    </div>
</div>



@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.2.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    @Scripts.Render("~/Scripts/app/app.js");
    @Scripts.Render("~/bundles/angular-app-directives");
    @Scripts.Render("~/bundles/angular-app-services");
    @Scripts.Render("~/bundles/angular-app-controllers");
}